@charset "UTF-8";

  /*Em HTML é id=""(dentro das aspas nome que vç quer dar ao identificador*lembrando que tem que ser um nome unico,que não pode se repetir em outro id,id é unico.).No CSS para identificar o id,se coloca a tag(ou não,é opcional), #(cerquilha), e o nome dado ao id.
  
     Em HTML É class=""(dentro das aspas nome que vç quer dar a 
class).No CSS para identificar a class,se coloca .(ponto),e o nome dado a class lá no html. Eu posso colocar varios nomes de class caso eu queira mais de uma formatação, é só colocar entre as aspas sem virgula,só com espaço.Eu tbm consigo cologar no msm elemento um id e uma class.MAS O ID SEMPRE SE SOBREPÕE AS CONFIGURAÇÕES DA CLASS.
Class pode ser multiplos.Não de nomes as suas classes pela forma,mas pela funcionalidade*/


    body {
    background-color: #4fd69991;
    font-family: Arial, Helvetica, sans-serif;
}

    h1 {
    color: #2A7050;
}

    h1#principal {
    text-align: center;
    background-color: #2A7050;
    color: white;
}

    h2 {
    color: #097e49;
}

    .basico {
        color: #05703cfd;
}

    .intermediario {
        color: #9ca70b;
 }

    .avancado { 
        color: #d40e0e;
        
}

    .destaque{
        background-color: #ecfc0fb0;
}

